@import '_config.sass';

input:active,
input:focus,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
textarea {
  resize: none;
}
a, a:focus, a:active {
  outline: none;
}
a, a:hover {
  text-decoration: none;
}
button, button:focus, button:active {
  outline: none;
}
button:not(:disabled) {
  cursor: pointer;
}
img {
  border-style: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clear-both {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.position-relative {
  position: relative;
}
.bluecolor {
  color: $bluecolor;
}
.greencolor {
  color: $greencolor;
}
.section {
  margin: 0 0 120px 0;
}
.section-title {
  margin: 0 0 30px 0;
  font-family: 'interdisplay-medium';
  font-size: 48px;
  line-height: 1.3;
  .sup {
    font-size: .5em;
    line-height: 1;
  }
}
.what-is-included-section-bg {
  padding: 0 0 60px 0;
  background-color: #fafafa;
}

// header
.header {
  padding: 20px 0 60px 0;
  .logo-link {
    display: block;
    width: 140px;
    height: 53px;
  }
  .logo img {
    width: 140px;
    height: 53px;
  }
  .contacts {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .messenger {
    width: 23px;
    height: 23px;
  }
  .messenger img {
    width: 100%;
  }
  .messenger-link {
    display: block;
    width: 23px;
    height: 23px;
  }
  .messenger-right {
    margin: 0 15px 0 10px;
  }
  .header-phone {
    font-size: 18px;
    color: $bluecolor;
  }
}

.main-section {
  .main-section-subtitle {
    margin: 0 0 60px 0;
    font-size: 20px;
  }
  .main-image-wrapper {
    position: relative;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
  }
  .main-image {
    height: 100%;
  }
  .main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main-btn {
    position: absolute;
    bottom: 40px;
    display: block;
    height: 60px;
    border-radius: 10px;
    font-family: 'interdisplay-medium';
    color: #fff;
  }
  .try-it-free-btn {
    display: block;
    right: 195px;
    width: 260px;
    padding: 17px 0;
    border: none;
    background-color: $greencolor;
    font-size: 16px;
    text-align: center;
    transition: background-color .3s;
  }
  .try-it-free-btn:hover {
    background-color: #508002;
  }
  .services-btn {
    right: 40px;
    width: 145px;
    padding: 17px 0;
    border: 1px solid #fff;
    background-color: transparent;
    text-align: center;
  }
}

.services-section {
  .above-title {
    margin: 0 0 16px 0;
    font-family: 'interdisplay-medium';
    font-size: 20px;
    color: $secondcolor;
    line-height: 1;
  }
  .item {
    margin: 0 0 30px 0;
  }
  .horizontal-line {
    height: 1px;
    margin: 0 0 30px 0;
    background-color: $secondcolor;
  }
  .flex-container {
    display: flex;
  }
  .title {
    width: 40%;
    font-family: 'interdisplay-medium';
    font-size: 26px;
  }
  .list {
    width: 45%;
    padding: 8px 0 0 0;
    font-family: 'interdisplay-light';
    font-size: 18px;
  }
  .list-item {
    margin: 0 0 20px 0;
  }
  .list-item-last {
    margin: 0 0 46px 0;
  }
  .price {
    width: 15%;
    font-family: 'interdisplay-medium';
    font-size: 26px;
    color: $bluecolor;
    text-align: right;
    .sup {
      font-size: .5em;
      line-height: 1;
    }
  }
  .details {
    display: flex;
    width: 128px;
    align-items: center;
    cursor: pointer;
  }
  .details-text {
    margin: 0 16px 0 0;
    font-family: 'interdisplay-medium';
    font-size: 18px;
    color: $greencolor;
  }
  .details .details-image {
    transition: transform .3s;
  }
  .details:hover .details-image {
    transform: rotate(90deg);
  }
}

.portfolio-section {
  .section-title-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .see-all-btn {
    display: block;
    width: 240px;
    height: 61px;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: $greencolor;
    font-size: inherit;
    color: #fff;
    transition: background-color .3s;
  }
  .see-all-btn:hover {
    background-color: #508002;
  }
  .portfolio-compare .portfolio-row {
    margin-bottom: 60px;
  }
  .item {
    height: 460px;
    border-radius: 15px;
    overflow: hidden;
  }
  .item-wide {
    margin: 0 0 0 36px;
  }
  .icv__img-a {
    height: 100%;
  }
  .portfolio-images .item {
    margin: 0 0 24px 0;
  }
  .portfolio-images .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.about-section {
  .advantages-row {
    display: flex;
    justify-content: space-between;
  }
  .item {
    margin: 0 0 30px 0;
    padding: 40px;
    border-radius: 15px;
    background-color: #f7faf2;
  }
  .advantages-with-description .item {
    min-height: 289px;
  }
  .title {
    font-family: 'interdisplay-medium';
    font-size: 24px;
    color: $greencolor;
    line-height: 1.3;
  }
  .advantages-with-description .title {
    margin: 0 0 30px 0;
  }
  .advantages-row .item {
    width: 49%;
  }
  .left-items,
  .right-form {
    width: 49%;
  }
  .left-items .item {
    width: 100%;
  }
  .right-form {
    height: 100%;
    border-radius: 15px;
    background-color: $greencolor;
  }
  .advantages-title-only .right-form {
    padding: 25px 40px 30px 40px;
  }
  .advantages-with-description .right-form {
    min-height: 289px;
    padding: 24px 40px 30px 40px;
  }
  .right-form__title {
    margin: 0 0 20px 0;
    font-family: 'interdisplay-medium';
    font-size: 24px;
    color: #fff;
    line-height: 1.2;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
  }
  .input-field {
    display: block;
    width: 48%;
    height: 61px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
  }
  .input-field::placeholder {
    color: #aaaaaa;
  }
  .advantages-title-only .form-group-first {
    margin: 0 0 20px 0;
  }
  .advantages-title-only .form-group-second {
    margin: 0 0 20px 0;
  }
  .advantages-with-description .form-group-first {
    margin: 0 0 16px 0;
  }
  .submit-btn {
    display: block;
    height: 61px;
    margin: 0 0 14px 0;
    padding: 0;
    background-color: $bluecolor;
    border: none;
    border-radius: 10px;
    font-family: 'interdisplay-medium';
    font-size: inherit;
    color: #fff;
  }
  .submit-btn:disabled {
    background-color: #AAAAAA;
  }
  .advantages-title-only .submit-btn {
    width: 100%;
  }
  .advantages-with-description .submit-btn {
    width: 48%;
  }
}

.where-we-work-section {
  padding: 60px 0 30px 0;
  border-radius: 15px 15px 0 0;
  background-color: #fafafa;
  .item {
    position: relative;
    margin: 0 0 30px 0;
    padding: 40px;
    border-radius: 15px;
    overflow: hidden;
  }
  .item-text {
    position: relative;
    font-family: 'interdisplay-medium';
    font-size: 26px;
    color: #fff;
    z-index: 2;
  }
  .item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .item-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #66A300 0%, transparent 130%);
    z-index: 1;
  }
  .item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.what-is-included-section {
  border-radius: 0 0 15px 15px;
  .details {
    position: relative;
    height: 580px;
    margin: 0 0 30px 0;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .image img {
    width: 100%;
  }
  .item {
    position: absolute;
  }
  .ceiling {
    top: 40px;
    left: 400px;
  }
  .column {
    top: 200px;
    left: 850px;
  }
  .flower {
    top: 230px;
    left: 950px;
  }
  .chair {
    top: 480px;
    left: 1100px;
  }
  .floor {
    top: 380px;
    left: 100px;
  }
  .facade {
    top: 300px;
    left: 250px;
  }
  .item .plus {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: $bluecolor;
    cursor: pointer;
    z-index: 2;
  }
  .item .plus::before,
  .item .plus::after {
    content: '';
    position: absolute;
    top: 18px;
    left: 11px;
    width: 16px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
  }
  .item .plus::after {
    transform: rotate(90deg);
    transition: transform .2s;
  }
  .item.active .plus::after {
    transform: rotate(0deg);
  }
  .item .content {
    position: absolute;
    display: none;
    width: 417px;
    height: 144px;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    z-index: 2;
  }
  .item.active .content {
    display: block;
  }
  .content-right .content {
    top: 0;
    left: 50px;
  }
  .content-title {
    margin: 0 0 16px 0;
    font-family: 'interdisplay-medium';
    font-size: 20px;
    color: $bluecolor;
  }
  .content-text {
    font-size: 14px;
  }
  .callback-form {
    padding: 40px;
    border-radius: 20px;
    background-color: $greencolor;
    .callback-form__title {
      margin: 0 0 30px 0;
      font-family: 'interdisplay-medium';
      font-size: 48px;
      color: #fff;
    }
    .callback-form__description {
      font-size: 18px;
      color: #fff;
    }
    .flex-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .form-group {
      display: flex;
      margin: 0 0 16px 0;
    }
    .input-field {
      display: block;
      height: 61px;
      padding: 20px 16px;
      border: none;
      border-radius: 10px;
      background-color: #fff;
      font-family: 'interdisplay-medium';
      font-size: inherit;
      color: inherit;
    }
    .input-field::placeholder {
      font-family: 'interdisplay-medium';
      font-size: inherit;
      color: #aaaaaa;
    }
    .input-name {
      width: 210px;
      margin: 0 10px 0 0;
    }
    .input-phone {
      width: 290px;
      margin: 0 14px 0 0;
    }
    .submit-btn {
      display: block;
      width: 206px;
      height: 61px;
      padding: 0;
      border: none;
      border-radius: 10px;
      background-color: $bluecolor;
      font-family: inherit;
      font-size: inherit;
      color: #fff;
    }
    .submit-btn:disabled {
      background-color: #AAAAAA;
    }
  }
  
}

.info-section {
  .subtitle {
    font-family: 'interdisplay-medium';
    font-size: 26px;
  }
  .image {
    height: 430px;
    border-radius: 15px;
    overflow: hidden;
  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-section {
  .videos {
    margin: 0 0 30px 0;
  }
  .item {
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
  }
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .view-more-btn {
    width: 196px;
    height: 61px;
    margin: 0 auto;
    padding: 18px 0;
    border-radius: 10px;
    background-color: $greencolor;
    font-family: 'interdisplay-medium';
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color .3s;
  }
  .view-more-btn:hover {
    background-color: #508002;
  }
}

.testimonials-section {
  .section-title-wrapper {
    display: flex;
    margin: 0 0 30px 0;
    justify-content: space-between;
  }
  .section-title {
    margin: 0;
  }
  .testimonials-slider-item {
    position: relative;
    height: 230px;
    padding: 40px;
    border-radius: 15px;
    background-color: #f7faf2;
    .title {
      margin: 0 0 30px 0;
      font-family: 'interdisplay-medium';
      font-size: 24px;
      color: $greencolor;
    }
  }
  .swiper-navigation {
    display: flex;
    align-items: center;
    .swiper-button-prev {
      margin: 0 20px 0 0;
    }
    .circle {
      position: relative;
      width: 48px;
      height: 48px;
      border: 2px solid $greencolor;
      border-radius: 24px;
      cursor: pointer;
    }
    .right {
      position: absolute;
      top: 20px;
      left: 11px;
      width: 20px;
      height: 2px;
      background-color: $greencolor;
    }
    .right::before,
    .right::after {
      content: '';
      position: absolute;
      left: 15px;
      width: 2px;
      height: 10px;
      background-color: $greencolor;
    }
    .right::before {
      top: -7px;
      transform: rotate(-45deg);
    }
    .right::after {
      top: -1px;
      transform: rotate(45deg);
    }
    .left {
      position: absolute;
      top: 20px;
      left: 11px;
      width: 20px;
      height: 2px;
      background-color: $greencolor;
    }
    .left::before,
    .left::after {
      content: '';
      position: absolute;
      left: 3px;
      width: 2px;
      height: 10px;
      background-color: $greencolor;
    }
    .left::before {
      top: -7px;
      transform: rotate(45deg);
    }
    .left::after {
      top: -1px;
      transform: rotate(-45deg);
    }
  }
  .slide-last {
    .flex-container {
      display: flex;
    }
    .item-first {
      margin: 0 40px 0 0;
    }
    .logo {
      width: 130px;
      height: 67px;
    }
    .logo img {
      width: 100%;
    }
    .text {
      text-align: center;
    }
  }
  .raiting {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 115px;
    .raiting-rectangle {
      display: flex;
      width: 100%;
      height: 44px;
      margin: 0 0 4px 0;
      border-radius: 22px;
      background-color: #fff;
      align-items: center;
      justify-content: space-around;
    }
    .number {
      font-family: 'interdisplay-medium';
      font-size: 32px;
      color: #000;
      line-height: 1;
    }
    .image {
      width: 27px;
      height: 27px;
    }
    .image img {
      width: 100%;
    }
    .raiting-text {
      font-size: 14px;
      color: #AAAAAA;
      text-align: center;
    }
  }
}

.faq-section {
  .section-title-wrapper {
    display: flex;
    margin: 0 0 8px 0;
    align-items: center;
    justify-content: space-between;
  }
  .section-title {
    margin: 0;
  }
  .feedback-btn {
    display: block;
    width: 262px;
    height: 61px;
    padding: 18px 0;
    border-radius: 10px;
    background-color: $greencolor;
    font-family: 'interdisplay-medium';
    font-size: 16px;
    color: #fff;
    text-align: center;
    transition: background-color .3s;
  }
  .feedback-btn:hover {
    background-color: #508002;
  }
  .subtitle {
    margin: 0 0 38px 0;
    font-size: 20px;
  }
  .item {
    width: 80%;
    margin: 0 auto 20px auto;
  }
  .item .title {
    display: flex;
    height: 60px;
    padding: 14px 20px;
    background-color: #FAFAFA;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    transition: margin .2s;
  }
  .item.active .title {
    margin-bottom: 20px;
  }
  .item .plus {
    position: relative;
    width: 22px;
    height: 22px;
    margin: 0 20px 0 0;
  }
  .item .plus::before,
  .item .plus::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 22px;
    height: 2px;
    background-color: $greencolor;
  }
  .item .plus::after {
    transform: rotate(90deg);
    transition: transform .2s;
  }
  .item.active .plus::after {
    transform: rotate(0deg);
  }
  .title-text {
    font-size: 20px;
  }
  .content {
    max-height: 0;
    padding: 0 0 0 70px;
    overflow: hidden;
    transition: max-height .2s;
  }
  .item.active .content {
    max-height: 200px;
  }

}

.callback-form-section {
  margin-top: -60px;
  padding-top: 60px;
  .callback-form {
    padding: 40px;
    border-radius: 20px;
    background-color: $greencolor;
  }
  .callback-form__title {
    margin: 0 0 30px 0;
    font-family: 'interdisplay-medium';
    font-size: 48px;
    color: #fff;
  }
  .discount-text {
    margin: 0 0 31px 0;
    font-size: 18px;
    color: #fff;
  }
  .flex-container {
    display: flex;
    margin: 0 0 16px 0;
    align-items: flex-end;
    justify-content: space-between;
  }
  .label {
    display: block;
    margin: 0 0 8px 0;
    color: #A8CF67;
  }
  .input-field {
    display: block;
    width: 100%;
    height: 61px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    font-family: inherit;
    font-size: inherit;
    color: $textcolor;
  }
  .input-field::placeholder {
    font-family: inherit;
    font-size: inherit;
    color: #AAAAAA;
  }
  .submit-btn {
    display: block;
    height: 61px;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: $bluecolor;
    font-family: 'interdisplay-medium';
    font-size: inherit;
    color: #fff;
  }
  .submit-btn:disabled {
    background-color: #AAAAAA;
  }
  .form-group-type {
    width: 34%;
  }
  .form-group-area {
    width: 17%;
  }
  .form-group-phone {
    width: 17%;
  }
  .submit-btn {
    width: 28%;
  }
  .agreement-text {
    width: 28%;
    margin: 0 0 0 auto;
  }
}

.our-clients-section {
  .logo {
    height: 125px;
  }
  .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.photo-section {
  .item {
    height: 430px;
    margin: 0 0 24px 0;
    border-radius: 15px;
    overflow: hidden;
  }
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// footer
.footer {
  padding: 80px 0 40px 0;
  background-color: $beigecolor;
  .footer-top {
    margin: 0 0 30px 0;
    .footer-logo {
      width: 140px;
      margin: 0 0 30px 0;
    }
    .logo img {
      width: 100%;
    }
    .underlogo-text {
      margin: 0 0 60px 0;
      font-size: 14px;
      color: #AAAAAA;
    }
    .contact-us {
      margin: 0 0 16px 0;
    }
    .messenger {
      display: flex;
    }
    .messenger-icon {
      width: 39px;
      height: 39px;
      margin: 0 10px 0 0;
    }
    .messenger-icon img {
      width: 100%;
    }
    .messenger-title {
      font-size: 14px;
      line-height: 1.2;
      color: $greencolor;
    }
    .messenger-phone {
      font-size: 16px;
    }
    .whatsapp {
      margin: 0 0 16px 0;
    }
    .footer-nav__title {
      margin: 0 0 30px 0;
      color: $bluecolor;
    }
    .footer-nav-item {
      margin: 0 0 10px 0;
    }
    .footer-nav-item__link {
      color: $textcolor;
      transition: color .3s;
    }
    .footer-nav-item__link:hover {
      color: $greencolor;
    }
    .footer-nav-right {
      margin: 0 0 26px 0;
    }
    .free-call {
      margin: 0 0 8px 0;
    }
    .free-call-text {
      margin: 0 0 8px 0;
      font-size: 14px;
    }
    .free-call-phone {
      font-family: 'interdisplay-medium';
      font-size: 20px;
      color: $greencolor;
    }
    .email {
      margin: 0 0 22px 0;
      font-size: 12px;
      color: #AAAAAA;
    }
    .contact-us-btn {
      display: block;
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 10px;
      background-color: $greencolor;
      font-family: 'interdisplay-medium';
      font-size: 16px;
      color: #fff;
    }
  }
  .footer-bottom {
    .privacy-policy {
      color: $bluecolor;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
    }
    .author {
      margin: 0 0 5px 0;
    }
    .author a {
      color: $textcolor;
      text-align: right;
      transition: color .3s;
    }
    .author a:hover {
      color: $greencolor;
    }
    .copyright,
    .inn {
      margin: 0 0 5px 0;
    }
  }
}

// custom checkbox
.agreement-text {
  display: flex;
  align-items: center;
  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox+.custom-checkbox-label {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    margin: 0 10px 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 60%;
    background-color: #fff;
    flex-shrink: 0;
  }
  .custom-checkbox:checked+.custom-checkbox-label {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000b7f' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox-text {
    font-size: 12px;
    color: #fff;
  }
  .custom-checkbox-link {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
  }
}

// we use cookie
.we-use-cookie {
  position: fixed;
  right: 25px;
  bottom: 47px;
  left: 0;
  display: none;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  &.show {
    display: block;
  }
  .we-use-cookie-wrapper {
    display: flex;
    max-width: 715px;
    padding: 34px;
    border: 1px solid $greencolor;
    border-radius: 10px;
    background-color: $beigecolor;
    align-items: center;
  }
  .we-use-cookie-text {
    padding: 0 10px 0 0;
    font-size: 14px;
  }
  .we-use-cookie-close {
    display: block;
    width: 93px;
    height: 45px;
    padding: 0;
    border: none;
    border-radius: 4px;
    background-color: $greencolor;
    font-family: inherit;
    font-size: 18px;
    color: #fff;
    flex-shrink: 0;
  }
}

// mobile menu 
.burger-menu-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  width: 42px;
  height: 42px;
  padding: 7px;
  border-radius: 21px;
  background-color: #363636;
  cursor: pointer;
  z-index: 10;
  &.active {
    background-color: transparent;
  }
  .burger-menu {
    position: relative;
    height: 100%;
  }
  span,
  .burger-menu:before,
  .burger-menu:after {
    content: "";
    position: absolute;
    right: 0;
    display: block;
    height: 3px;
    margin: 0 0 0 auto;
    border-radius: 2px;
    background-color: #fff;
    transition: all .5s;
  }
  span {
    top: 13px;
    width: 20px;
  }
  .burger-menu:before {
    top: 6px;
    width: 14px;
  }
  .burger-menu:after {
    top: 20px;
    width: 26px;
  }
  .close span {
    display: none;
  }
  .close:before,
  .close:after {
    top: 12px;
    width: 28px;
    background-color: #211F1F;
  }
  .close:before {
    transform: rotate(-45deg);
  }
  .close:after {
    transform: rotate(45deg);
  }
}

// mobile menu
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px 15px 30px 15px;
  background-color: #fff;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .logo {
    width: 140px;
    margin: 0 auto 20px auto;
  }
  .address {
    margin: 0 0 35px 0;
    font-size: 18px;
    text-align: center;
  }
  .menu {
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;
  }
  .menu-item {
    margin: 0 0 12px 0;
  }
  .menu-item a {
    font-size: 23px;
    color: #211F1F;
    text-transform: uppercase;
  }
  .phone {
    margin: 0 0 12px 0;
  }
  .phone .phone-link {
    color: #211F1F;
  }
  .social-icons {
    margin: 0 0 32px 0;
  }
  .social-icons .social-icon-link {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  .social-icons .social-icon-image {
    width: 25px;
  }
  .mobile-menu-callback-btn {
    border: 1px solid #211f1f;
  }
}

// modal 
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 100;
  &.active {
    display: block;
  }
  .modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 5%;
    height: 100%;
    padding: 0 12px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }
  .modal-wrapper.active {
    opacity: 1;
    visibility: visible;
  }
  .modal-area {
    position: relative;
    // max-width: 425px;
    height: 90%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  }
  .modal-close {
    position: absolute;
    top: 35px;
    right: 28px;
    cursor: pointer;
  }
  .close {
    position: relative;
    width: 21px;
    height: 21px;
    border-radius: 3px;
  }
  .close:before,
  .close:after { 
    content: "";
    position: absolute;
    top: 0;
    left: 9px;
    width: 3px;
    height: 20px;
    border-radius: 2px;
    background-color: #AAAAAA;
    transition: background-color .3s;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .modal-title {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  .modal-content {
    height: 86%;
    overflow: auto;
    padding: 0px 30px 0px 0px;
  }
  // .label {
  //   display: block;
  //   width: 100%;
  //   margin: 0 0 5px 0;
  //   font-size: 18px;
  //   color: #AAAAAA;
  //   text-transform: uppercase;
  // }
  // .input-field {
  //   width: 100%;
  //   margin: 0 0 25px 0;
  //   border-top: none;
  //   border-right: none;
  //   border-bottom: 1px solid #AAAAAA;
  //   border-left: none;
  //   font-family: inherit;
  //   font-size: 18px;
  // }
  // .first-input-field {
  //   margin: 0 0 35px 0;
  // }
  // .checkbox-text {
  //   display: block;
  //   margin: 0 0 30px 0;
  //   font-size: 12px;
  //   line-height: 1.4;
  // }
  // .privacy-policy-btn {
  //   color: #211F1F;
  //   text-decoration: underline;
  // }
  // .submit-btn {
  //   display: block;
  //   width: 100%;
  //   height: 64px;
  //   padding: 0;
  //   border: none;
  //   border-radius: 30px;
  //   background-color: #211F1F;
  //   font-size: 20px;
  //   color: #fff;
  //   text-transform: uppercase;
  //   cursor: pointer;
  // }
  // .submit-btn:disabled {
  //   color: #AAAAAA;
  // }
  // .custom-checkbox {
  //   position: absolute;
  //   z-index: -1;
  //   opacity: 0;
  //   display: block;
  // }
  // .custom-checkbox + .custom-checkbox-label::before {
  //   content: '';
  //   display: block;
  //   float: left;
  //   width: 18px;
  //   height: 18px;
  //   border: 1px solid #AAAAAA;
  //   border-radius: 5px;
  //   margin: 3px 10px 10px 0;
  //   background-repeat: no-repeat;
  //   background-position: center center;
  //   background-size: 100% 70%;
  //   background-color: #fff;
  //   cursor: pointer;
  // }
  // .custom-checkbox:checked + .custom-checkbox-label::before {
  //   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='211F1F' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  // }
  // .custom-checkbox-label {
  //   display: block;
  // }
}

// privacy policy modal
.privacy-policy-modal {
  .privacy-policy-modal .modal-area {
    max-width: 100%;
    max-height: auto;
    height: 90%;
  }
  .privacy-policy-modal .modal-title {
    font-size: 20px;
  }
  .privacy-policy-modal .modal-content {
    height: 80%;
    padding: 0 30px 0 0;
    overflow: auto;
  }
}

@media only screen and (max-width : 1400px) {
  .section {
    margin: 0 0 100px 0;
  }
  .section-title {
    font-size: 42px;
  }

  .what-is-included-section {
    .ceiling {
      top: 30px;
      left: 300px;
    }
    .column {
      top: 150px;
      left: 750px;
    }
    .flower {
      top: 170px;
      left: 850px;
    }
    .chair {
      top: 380px;
      left: 1000px;
    }
    .floor {
      top: 300px;
      left: 80px;
    }
    .facade {
      top: 200px;
      left: 150px;
    }
    .callback-form .input-phone {
      width: 220px;
    }
  }

  .testimonials-section {
    .testimonials-slider-item .title {
      font-size: 22px;
    }
  }
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {
  .hidden-desktop {
    display: block;
  }
  .hidden-mobile {
    display: none;
  }
}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 360px) {

}